/** @format */

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  padding: 10px;
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
}
.container input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.container input:hover,
.container input:focus {
  border-color: blue;
  background-color: lightgray;
}
.error {
  color: red;
}
.button {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(89, 168, 10);
}
.button:hover,
.button:focus {
  background-color: chocolate;
}
